<section class="panel-container">

    <div class="panel-header">
        <span class="panel-title">{{data?.price ? 'Edit Price' : 'New Price'}}</span>
        <mat-icon class="panel-close" mat-dialog-close>close</mat-icon>
    </div>

    <div class="panel-summary">
        You can add or modify a stripe price here.
    </div>

    <div class="panel-content">
        <form [formGroup]="priceForm" autocomplete="off" class="d-flex flex-wrap justify-content-between">

            <mat-form-field [appearance]="'outline'" class="w-100 ml-2">
                <mat-label>Pricing Model</mat-label>
                <mat-select (selectionChange)="modelChange($event)" [value]="pricingModel" [disabled]="data?.price">
                    <mat-option value="standard">Standard Pricing</mat-option>
                    <mat-option value="package">Package Pricing</mat-option>
                    <mat-option value="graduated">Graduated Pricing</mat-option>
                    <mat-option value="volume">Volume Pricing</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="d-flex flex-wrap m-0 ml-2 p-0 w-100">
                <mat-form-field appearance="outline" class="flex-grow-1" *ngIf="priceForm.controls.billing_scheme.value !== 'tiered'">
                    <mat-label>Price</mat-label>
                    <input formControlName="unit_amount_decimal" matInput type="number">
                </mat-form-field>

                <mat-form-field [appearance]="'outline'" class="w-25">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="currency" [value]="priceForm.controls.currency.value.toUpperCase()">
                        <mat-option *ngFor="let code of isoCodes" [value]="code.currency">{{code.currency}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-slide-toggle class="ml-2 mb-3 mt-md-3 mb-md-0" *ngIf="priceForm.controls.billing_scheme.value !== 'tiered' && !data?.price"
                                  color="primary" (change)="recurring = $event.checked" [checked]="recurring">
                    Recurring
                </mat-slide-toggle>
            </div>

            <div class="w-100" *ngIf="priceForm.controls.billing_scheme.value === 'tiered' && !data?.price" style="max-width:100%; overflow: auto">
                <div class="w-100 d-flex"><div><b>Tiers</b></div>
                    <div class="ml-auto">
                        <mat-icon class="cursor-pointer" (click)="addTier()">add</mat-icon>
                    </div>
                </div>
                <table mat-table [dataSource]="tiersData" class="w-100 panel-table"  >
                    <ng-container matColumnDef="first_unit">
                        <th mat-header-cell *matHeaderCellDef>First</th>
                        <td mat-cell *matCellDef="let row">{{row?.first_item}}</td>
                    </ng-container>

                    <ng-container matColumnDef="last_unit">
                        <th mat-header-cell *matHeaderCellDef>Last</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <input matInput type="text" [value]="row.up_to"
                                       (change)="row.up_to = $event.target['value']">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="unit_amount_decimal">
                        <th mat-header-cell *matHeaderCellDef>Per Unit</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <input matInput type="number" step="0.01" [value]="row?.unit_amount_decimal"
                                       (change)="row.unit_amount_decimal = $event.target['value']">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="flat_amount">
                        <th mat-header-cell *matHeaderCellDef>Flat Fee</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <input matInput type="number" step="0.01" [value]="row?.flat_amount"
                                       (change)="row.flat_amount = $event.target['value']">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="remove">
                        <th mat-header-cell *matHeaderCellDef>Remove</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-icon (click)="removeTier(row)"
                                      *ngIf="tiersData.value.indexOf(row) !== 0 && tiersData.value.indexOf(row) !== tiersData.value.length -1"
                                      class="cursor-pointer">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="['first_unit', 'last_unit', 'unit_amount_decimal', 'flat_amount', 'remove']"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['first_unit', 'last_unit','unit_amount_decimal', 'flat_amount', 'remove'];"></tr>
                </table>
            </div>

            <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                <mat-label>Nickname</mat-label>
                <input formControlName="nickname" matInput>
            </mat-form-field>

            <mat-slide-toggle class="flex-grow-1 ml-2 mt-3"
                              color="primary"
                              formControlName="active">
                Active
            </mat-slide-toggle>

            <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                <mat-label>Lookup Key</mat-label>
                <input formControlName="lookup_key" matInput>
            </mat-form-field>

            <mat-slide-toggle class="flex-grow-1 ml-2 mt-3"
                              color="primary"
                              formControlName="transfer_lookup_key">
                Transfer
            </mat-slide-toggle>

            <div *ngIf="!data?.price">
                <div class="d-flex w-100 ml-2">
                    <mat-form-field [appearance]="'outline'" class="flex-grow-1" *ngIf="!createWithProduct.checked">
                        <mat-label>Existing Product ID</mat-label>
                        <input formControlName="product" matInput>
                    </mat-form-field>

                    <mat-slide-toggle class="ml-2" [ngClass]="{'mt-3': !createWithProduct.checked}" #createWithProduct
                                      color="primary">
                        Or Create
                    </mat-slide-toggle>
                </div>


                <div class="m-0 mt-2 p-0 d-flex flex-wrap justify-content-between w-100"
                     *ngIf="createWithProduct.checked"
                     formGroupName="product_data">
                    <p class="w-100"><b>Create Product</b></p>
                    <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" matInput type="text">
                    </mat-form-field>

                    <mat-slide-toggle class="flex-grow-1 ml-2 mt-3"
                                      color="primary"
                                      formControlName="active">
                        Active
                    </mat-slide-toggle>

                    <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                        <mat-label>Statement Descriptor</mat-label>
                        <input matInput formControlName="statement_descriptor" type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                        <mat-label>Unit Label</mat-label>
                        <input formControlName="unit_label" matInput type="text">
                    </mat-form-field>

                    <div class="w-100 ml-2 mb-2 mr-2">
                        <div class="w-100 d-flex">
                            <div><b>Metadata</b></div>
                            <div class="ml-auto">
                                <mat-icon class="cursor-pointer" (click)="addMetadata('product')">add</mat-icon>
                            </div>
                        </div>
                        <table mat-table [dataSource]="productMetaData" class="w-100 panel-table">
                            <ng-container matColumnDef="key">
                                <th mat-header-cell *matHeaderCellDef>key</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-form-field appearance="outline">
                                        <input matInput type="text" [value]="row.key"
                                               (change)="row.key = $event.target['value']">
                                    </mat-form-field>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="value">
                                <th mat-header-cell *matHeaderCellDef>Value</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-form-field appearance="outline">
                                        <input matInput type="text" [value]="row.value"
                                               (change)="row.value = $event.target['value']">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="remove">
                                <th mat-header-cell *matHeaderCellDef>Remove</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-icon (click)="removeMetadata(row, 'product')" class="cursor-pointer">delete
                                    </mat-icon>
                                </td>
                            </ng-container>

                            <tr mat-header-row
                                *matHeaderRowDef="['key', 'value', 'remove']"></tr>
                            <tr mat-row
                                *matRowDef="let row; columns: ['key', 'value', 'remove'];"></tr>
                        </table>
                    </div>
                </div>

                <div class="m-0 p-0 d-flex flex-wrap justify-content-between w-100" formGroupName="transform_quantity"
                     *ngIf="pricingModel === 'package'">
                    <p class="w-100"><b>Transform Quantity</b></p>
                    <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                        <mat-label>Divide By</mat-label>
                        <input formControlName="divide_by" matInput type="number">
                    </mat-form-field>

                    <mat-form-field [appearance]="'outline'" class="flex-grow-1 ml-2">
                        <mat-label>Round</mat-label>
                        <mat-select formControlName="round">
                            <mat-option value="up">up</mat-option>
                            <mat-option value="down">down</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <div class="m-0 p-0 d-flex flex-wrap justify-content-between w-100" formGroupName="recurring"
                     *ngIf="recurring">
                    <p class="w-100"><b>Recurring</b></p>
                    <mat-form-field [appearance]="'outline'" class="flex-grow-1 ml-2">
                        <mat-label>Interval</mat-label>
                        <mat-select formControlName="interval">
                            <mat-option value="day">Day</mat-option>
                            <mat-option value="week">Week</mat-option>
                            <mat-option value="month">Month</mat-option>
                            <mat-option value="year">Year</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                        <mat-label>Aggregate Usage</mat-label>
                        <input formControlName="aggregate_usage" matInput type="text">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="flex-grow-1 ml-2">
                        <mat-label>Interval Count</mat-label>
                        <input formControlName="interval_count" matInput min="0" type="number">
                    </mat-form-field>

                    <mat-form-field [appearance]="'outline'" class="flex-grow-1 ml-2">
                        <mat-label>Usage Type</mat-label>
                        <mat-select formControlName="usage_type">
                            <mat-option value="licensed">Licensed</mat-option>
                            <mat-option value="metered">Metered</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-100">
                <div class="w-100 d-flex">
                    <div><b>Metadata</b></div>
                    <div class="ml-auto">
                        <mat-icon class="cursor-pointer" (click)="addMetadata('price')">add</mat-icon>
                    </div>
                </div>
                <table mat-table [dataSource]="priceMetaData" class="w-100 panel-table">
                    <ng-container matColumnDef="key">
                        <th mat-header-cell *matHeaderCellDef>key</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <input matInput type="text" [value]="row.key"
                                       (change)="row.key = $event.target['value']">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="value">
                        <th mat-header-cell *matHeaderCellDef>Value</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-form-field appearance="outline">
                                <input matInput type="text" [value]="row.value"
                                       (change)="row.value = $event.target['value']">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="remove">
                        <th mat-header-cell *matHeaderCellDef>Remove</th>
                        <td mat-cell *matCellDef="let row">
                            <mat-icon (click)="removeMetadata(row, 'price')" class="cursor-pointer">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="['key', 'value', 'remove']"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['key', 'value', 'remove'];"></tr>
                </table>
            </div>


        </form>
    </div>

    <div class="panel-footer">
        <button (click)="submit()" mat-flat-button>{{data?.price ? 'Update' : 'Submit'}}</button>
    </div>
</section>
