::ng-deep.mat-chip {
    * {
        color: black !important;
    }

    color: black !important;
}

.disabled {
    background: grey;
}

hr {
    background: white;
}

form mat-icon {
    margin-top: -5px;
}

.panel-table {
    background-color: transparent!important;
    * {
        color: whitesmoke!important;
    }
    mat-form-field {
        width: 100px!important;
    }
}
