<section>
    <div class="w-100">
        <mat-spinner *ngIf="loading" class="ml-auto mr-auto"></mat-spinner>
        <table mat-table [dataSource]="prices" class="w-100" *ngIf="!loading">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Price ID</th>
                <td mat-cell *matCellDef="let row">{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="unit_amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let row">{{row.unit_amount / 100 | currency: row.currency.toUpperCase()}}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let row">{{row.type}}</td>
            </ng-container>

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef>Created At</th>
                <td mat-cell *matCellDef="let row">{{row.created*1000 | date}}</td>
            </ng-container>

            <ng-container matColumnDef="updated">
                <th mat-header-cell *matHeaderCellDef>Updated At</th>
                <td mat-cell *matCellDef="let row">{{row.updated*1000 | date}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewPrice(row)" class="table-row"></tr>
        </table>
    </div>

    <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"
                   (page)="pageResults($event)" [length]="hasMore ? 1000000000 : 0"></mat-paginator>
</section>
