<section id="home">
    <div *ngIf="!configured else Prices">
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>

    <ng-template #Prices>
        <app-prices></app-prices>
    </ng-template>
</section>
